.levelButton {
    background-color: #000;
    border: 2px solid #fff22d;
    border-radius: 5px;
    color: #fff22d;
    font-size: 2rem;
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    text-transform: uppercase;
    width: 200px;
    cursor: pointer;
}

.levelButton:hover {
    background-color: #fff22d;
    color: #000;
    border: 2px solid #000;
}

.control-button {
    background-size: cover;
    background-position: center;
    border: none;
    cursor: pointer;
    background-color: #fff;
    opacity: 0.5;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    padding: 10px;
    transition: transform 0.5s ease-in-out;
}

.control-button:hover {
    transform: scale(1.1);
}

.music-playing {
    background-image: url('../../public/icons/music-on-icon.svg');
}

.music-paused {
    background-image: url('../../public/icons/music-off-icon.svg')!important;
}

.contact-text {
    font-size: 1rem;
}

.help-closed {
    background-image: url('../../public/icons/help-icon.svg');
}

.help-opened {
    background-image: url('../../public/icons/cross-icon.svg');
}